<% movieCoverClass = locals.large ? 'movie-cover-large' : 'movie-cover' %>
<% movieGridClass = locals.large ? 'movie-grid-large' : '' %>

<div class="movie-grid <%= movieGridClass %>">
    <% movies.forEach(movie => { %>
        <a href="/movies/<%= movie.id %>">
            <img class="movie-cover <%= movieCoverClass %>" src="<%= movie.coverImagePath %>">
        </a>
    <% }) %> 
</div>

